# Gradle
.gradle/
/**/.gradle/
build/
/**/build/

# Local configuration
local.properties

# Android Studio
.idea/
*.iml

# Mac / OS
.DS_Store

# NDK / CMake
.cxx/
externalNativeBuild/

# Captures
captures/
